{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/gstr.css' %}">
{% endblock css %}
{% block content %}
<main>  
    <nav class="item">
        <ul>
            <li><a href="{% url 'core:gstr_home' %}">GSTR</a></li>
            <li><a href="{% url 'core:logout' %}">LOGOUT</a></li>
            <div class="dropdown">
                <button class="dropbtn">GST
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{% url 'gst:gst_number_check' %}">GST Number Check</a>
                  <a href="#">GSTR Merge Excel</a>
                  <a href="#">GSTR 1 JSON To Excel Converter</a>
                  <a href="#">GSTR 2B JSON To Excel Converter</a>
                  <a href="#">GSTR 3B PDF To Excel Converter</a>
                </div>
            </div>
        </ul>
    </nav>
    
    <section class="item-center">
        {% if messages %}
            <div class="notification">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
            </div>
        {% endif %}
        <div>
            <a href="{% url 'core:download_sample_file' %}" class="a-button sample">Click this button to download sample files to test application</a>
            <form action="" class="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-container dodger-blue">
                    <div>
                        <div class="mb-3 border">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                    </div>
                </div>
                <div class="flex-container" style="justify-content: center;">
                    <button type="submit" class="mb-10">Check</button>
                </div>
            </form>
            {% if summary_file_path %}
                <a href="{% url 'core:download_file' summary_file_path %}" class="a-button summary">Download summary file</a>
            {% endif %}
        </div>
    </section>
    <footer class="item"> 
        &copy; 2023
    </footer>
</main>
{% endblock content %} 