.hero-section {
	background-color: #13824d;
	padding: 3rem 0px;
  font-family: 'Imprima', sans-serif;
}

.hero-image {
	width: 80%;
	height: auto;
	border-radius: 50%;
	filter: drop-shadow(0px 4px 20px #f2a229);
	margin-left: 5rem;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.hero-content {
	text-align: start !important;
	font-size: 1rem;
	font-family: 'Imprima', sans-serif;
	color: #fff;
	margin-top: 5rem;
}

.button{
  background-color: #f2a229 !important;
  border-radius: 0.3rem;
  border: none !important;
  padding: 0.7rem 2rem !important;
  font-size: 1.2rem;
}
